<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор мощности ЦОД</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <a href="/" class="logo">Калькулятор ЦОД</a>
            </div>
        </div>
    </header>

    <main class="main">
        {{ block "content" . }}{{ end }}
    </main>
</body>

</html>